body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #8a6de4;
}

input[type=email] {
    background-image: url('/img/person.png');
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 12px 20px 12px 40px;
    border-radius: 30px;
}

input[type=password] {
    background-image: url('/img/shield-lock.png');
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 12px 20px 12px 40px;
    border-radius: 30px;
}

.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
        linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
        linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
        radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
        radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.top-25{
    top: 25%;
}
         
.btn-grad {
        background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
        margin: 10px;
        padding: 10px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 30px;
        border: none;
        display: block;
      }

      .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }